@tailwind base;
@tailwind components;
@tailwind utilities;

/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/raleway-v19-latin-regular.woff2") format("woff2"),
    url("/fonts/raleway-v19-latin-regular.woff") format("woff");
}

/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/raleway-v19-latin-700.woff2") format("woff2"),
    url("/fonts/raleway-v19-latin-700.woff") format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
